<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Notes</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./global.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
</head>

<body ng-controller="myCtrl">
    <div id="nav">
        <div id="togglers">
            <div id="minimize" ng-click="minimize()"><span>-</span>
            </div>
            <div id="maximize" ng-click="maximize()"><span>&square;</span>
            </div>
            <div id="close" ng-click="close()"><span>&times;</span>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand">
        <ul class="navbar-nav nav-pages">
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fa fa-users" aria-hidden="true"></i> Teams</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
            </li>

            <li>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </li>
        </ul>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item active">Active item</li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                  </ul>
            </div>
        </div>
        
    </div>
</body>

<script src="./node_modules/angular/angular.min.js"></script>
<script src="./index.js"></script>

</html>